<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11D50</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>APExtFramebuffer</string>
	<key>CFBundleIdentifier</key>
	<string>com.squirrels.airparrot.framebuffer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>APExtFramebuffer</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvmgcc42</string>
	<key>DTPlatformBuild</key>
	<string>4D502</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>11C63</string>
	<key>DTSDKName</key>
	<string>macosx10.7</string>
	<key>DTXcode</key>
	<string>0421</string>
	<key>DTXcodeBuild</key>
	<string>4D502</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>APExtFramebuffer</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.squirrels.airparrot.framebuffer</string>
			<key>DriverModes</key>
			<array>
				<dict>
					<key>height</key>
					<integer>720</integer>
					<key>name</key>
					<string>720p</string>
					<key>width</key>
					<integer>1280</integer>
				</dict>
				<dict>
					<key>height</key>
					<integer>1080</integer>
					<key>name</key>
					<string>1080p</string>
					<key>width</key>
					<integer>1920</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>com_squirrels_airparrot_framebuffer_driver</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOMatchCategory</key>
			<string>com_squirrels_airparrot_framebuffer_driver</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>com_squirrels_airparrot_framebuffer_client</string>
			<key>MaxResolution</key>
			<dict>
				<key>height</key>
				<integer>1080</integer>
				<key>width</key>
				<integer>1920</integer>
			</dict>
			<key>loadFramebuffer</key>
			<true/>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOGraphicsFamily</key>
		<string>2.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
	</dict>
</dict>
</plist>
