<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BreakpadProduct</key>
	<string>Chrome_Mac</string>
	<key>BreakpadProductDisplay</key>
	<string>Chrome</string>
	<key>BreakpadReportInterval</key>
	<string>3600</string>
	<key>BreakpadSendAndExit</key>
	<string>YES</string>
	<key>BreakpadSkipConfirm</key>
	<string>YES</string>
	<key>BreakpadURL</key>
	<string>https://clients2.google.com/cr/report</string>
	<key>BreakpadVersion</key>
	<string>40.0.2214.111</string>
	<key>BuildMachineOSBuild</key>
	<string>12F45</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>Google Chrome Framework</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.Chrome.framework</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>40.0.2214.111</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2214.111</string>
	<key>DTSDKBuild</key>
	<string>10M2518</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0510</string>
	<key>DTXcodeBuild</key>
	<string>5B130a</string>
	<key>SCMRevision</key>
	<string>6f7d3278c39ba2de437c55ae7e380c6b3641e94e-refs/branch-heads/2214@{#480}</string>
</dict>
</plist>
